/* TODO move to html ref for compatibility */
@import url("fontawesome.css");

@charset "UTF-8";
*, *::before, *::after {
	box-sizing: border-box;
}

/* TEMPORARY Remove me */
:root {
	--dark: #505961;
	--secondary: #505961;
	--white: #c9d1d9;
	--black: #c9d1d9;
	--light: #b1bac4;
	--muted: #c9d1d9;
	--gray: #505961;
	--gray-100: #c9d1d9;
	--gray-200: #b1bac4;
	--gray-300: #505961;
	--gray-400: #6e7681;
	--gray-500: #21262d;
	--gray-600: #21262d;
	--gray-700: #21262d;
	--gray-800: #161b22;
	--gray-900: #0d1117;
	--background: #21262d;
}
/* END Temporary */

html, body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
}

/* Hide focus thing */
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

/* Unlinkify "links" */
.srd a {
    text-decoration: none;
    color: #fff;
}

.srd {
    display: block;
    text-align: center;
    background-color: var(--primary);
    padding: 2px;
    color: #fff;
}

nav {
    position: sticky;
    top: 0px;
    z-index: 999;
}

#navbar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    padding: 4px 16px 4px 12px;
    align-items: center;
    flex-wrap: nowrap;
    font-size: .9rem;
    background-color: #fff;
}

#navbar i
{
    margin-right: 12px;
    vertical-align: middle;
}

.marseybux-icon, .coins-icon {
    margin-right: 3px;
}

.dropdown-btn {
    cursor: pointer;
}

.navbar-nav {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

#main-content-view {
    display: flex;
    width: 100%;
}

#main-content {
    flex-grow: 1;
}

.sidebar {
    max-width: 300px;
}

.custom-gutters {
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu {
    position: fixed;
    display: none;
    width: 210px;
    padding: 5px;
    border-bottom-left-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 6px 8px;
    margin: 1px;
    border-radius: 4px;
    color: #000;
    transition: background-color .2s;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #eaeaea;
}

.dropdown-menu-right {
    right: 0px;
}

#dropdownMenuLink {
    display: inline-block;
}

.navbar-nav-mobile {
    display: none;
}

.dropdown-label {
    display: block;
}

.user-info,
.profile {
    display: inline-block;
}

.user-info {
    font-size: .7rem;
}

.profile-pic-navbar {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #cacaca;
}

.checkbox-display {
    display: flex;
}

.checkbox-display:checked + .dropdown-menu
{
    display: block;
}

.nav-item
{
    vertical-align: middle;
}

.navbar-nav li.nav-item {
    display: inline-block;
}

.hidden {
    display: none;
}

#logo {
    flex-grow: 1;
}

.brand, #logo
{
    display: flex;
    align-items: center;
}

/* Input stuff */
.search-input, input[type=text], input[type=url], .pseudo-textbox {
    border-radius: 4px;
    border: 2px solid #cacaca;
    padding: 5px 10px;
    cursor: text;
}

.search-input {
    border: 2px solid #cacaca;
    width: 400px;
}

.toast {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 375px;
    text-align: center;
    z-index: 1000;
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid var(--gray-400);
}

.toast i
{
    margin-left: 4px;
    margin-right: 4px;
}

#formkey { display: none; }

.sub-name {}

#navbarResponsive {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-end;
    
}

/* Mobile stuff */
.mobile-nav-icon,
.navbar-toggler
{
    display: none;
}

.card {
    display: block;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
}

.card-title {
    text-transform: uppercase;
    color: 1px solid var(--gray-300);
}

.card-header {
    display: block;
    border-bottom: 1px solid var(--gray-100);
}

.card-body, .card-header {
    padding: 8px;
}

.card-body {
    
}

.submit-pseudo-text {
    display: block;
    height: 30px;
    width: 100%;
}
