/* TODO move to html ref for compatibility */
@import url("fontawesome.css");

@charset "UTF-8";
*, *::before, *::after {
	box-sizing: border-box;
}

/* TEMPORARY Remove me */
:root {
	--dark: #505961;
	--secondary: #505961;
	--white: #c9d1d9;
	--black: #c9d1d9;
	--light: #b1bac4;
	--muted: #c9d1d9;
	--gray: #505961;
	--gray-100: #c9d1d9;
	--gray-200: #b1bac4;
	--gray-300: #505961;
	--gray-400: #6e7681;
	--gray-500: #21262d;
	--gray-600: #21262d;
	--gray-700: #21262d;
	--gray-800: #161b22;
	--gray-900: #0d1117;
	--background: #21262d;
}

.modal
{
    display: none;
}
/* END Temporary */

html, body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
}

/* Make all links look like regular text
 *
 * A lot of links are used as buttons and stuff, so if you want to
 * make a regular link, undo these for specific areas like post content, etc */
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}

/* Font stuff */
html, body, input, a, button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Hide focus thing */
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

/* Unlinkify "links" */
.srd a {
    color: #fff;
}

.srd {
    display: block;
    text-align: center;
    background-color: var(--primary);
    padding: 2px;
    color: #fff;
}

nav {
    position: sticky;
    top: 0px;
    z-index: 999;
}

#navbar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    padding: 4px 16px 4px 12px;
    align-items: center;
    flex-wrap: nowrap;
    font-size: .9rem;
    background-color: #fff;
}

#navbar i
{
    margin-right: 12px;
    vertical-align: middle;
    font-size: 1rem;
}

.header--currency {
    margin-right: 3px;
    display: inline;
}

.header--currency img
{
    max-height: 13px;
    margin-right: 2px;
    vertical-align: middle;
}

.header--currency span
{
    vertical-align: middle;;
}

.dropdown-btn {
    cursor: pointer;
}

.navbar-nav {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* .container { */
/*     display: flex; */
/* } */

#main-content-view {
    width: 100%;
}

#main-content {
    display: flex;
    flex-grow: 1;
}

#content { flex-grow: 1; }

.sidebar {
    max-width: 300px;
}

.custom-gutters {
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu {
    position: absolute;
    display: none;
    width: 210px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.13);
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 6px 8px;
    margin: 1px;
    border-radius: 4px;
    color: #000;
    transition: background-color .2s;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #eaeaea;
}

@keyframes expand
{
    0% { opacity: 0.0; transform: scaleY(0.7); }
    100% { opacity: 1.0; transform: scaleY(1.0); }
}

.dropdown-menu-right {
    margin-top: 2px;
    right: 0px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.13);
}

#dropdownMenuLink {
    display: inline-block;
}

.navbar-nav-mobile {
    display: none;
}

.dropdown-label {
    display: block;
}

.user-info,
.profile {
    display: inline-block;
}

.user-info {
    font-size: .7rem;
    vertical-align: middle;
}

.profile {
    vertical-align: middle;
}

.profile-pic-navbar {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #cacaca;
}

.checkbox-display {
    display: flex;
}

.checkbox-display:checked + .dropdown-menu
{
    display: block;
}

.checkbox-display:checked + .dropdown-menu-right
{
    transform-origin: top;
    animation: expand .20s 1;
}

.nav-item
{
    vertical-align: middle;
}

.navbar-nav li.nav-item {
    display: inline-block;
}


#logo {
    flex-grow: 1;
}

#logo img
{
    width: 100px;
}

.brand, #logo
{
    display: flex;
    align-items: center;
}

/* Input stuff */
.search-input, input[type=text], input[type=url], .pseudo-textbox {
    border-radius: 4px;
    border: 2px solid #cacaca;
    padding: 6px 10px;
    cursor: text;
    background-color: #fafafa;
}

.pseudo-submit-form {
    margin-bottom: 8px;
}

.search-input {
    border: 2px solid #cacaca;
    width: 400px;

    /* Cheat the searchbox forward a tiny bit, it's off place */
    position: relative;
    left: 30px;
}

.search-icon
{
    position: relative;
    color: #606060;
}

.toast {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 375px;
    text-align: center;
    z-index: 1000;
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid var(--gray-400);
}

.toast i
{
    margin-left: 4px;
    margin-right: 4px;
}

#formkey { display: none; }

.sub-name {}

#navbarResponsive {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-end;
    
}

/* Mobile stuff */
.mobile-nav-icon,
.navbar-toggler
{
    display: none;
}

.card {
    display: block;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
}

.card-title {
    text-transform: uppercase;
    color: 1px solid var(--gray-300);
}

.card-header {
    display: block;
    border-bottom: 1px solid var(--gray-100);
}

.card-body, .card-header {
    padding: 8px;
}

.card-body {
    
}

.btn {
    display: inline-block;
    padding: 4px 15px;
    background-color: unset;
    border: 1px solid #eaeaea;
    color: #000;
    font-size: .9rem;
    min-height: 32px;
    cursor: pointer;
    border-radius: 3px;
    margin: 2px;
    text-decoration: none;
}

.btn i
{
    margin-right: 4px;
}

.button-tabs
{
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    padding-right: 0;
}

.submit-pseudo-text {
    display: block;
    height: 30px;
    width: 100%;
}

.submission
{
    display: flex;
    flex-direction: row;
}

.submission .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.post-actions {
    font-size: .9rem;
}

.post-actions i {
    margin-right: 5px;
}

.post-actions a {
    color: #000;
    padding: 4px;
    margin-right: 3px;
    display: inline-block;
}

.submission-meta {
    font-size: 0.85rem;
}

.submission-title {
    font-size: 1.1rem;
    margin-bottom: 3px;
    font-weight: bold;
}

.post-actions-mobile {
    display: none;
}

.submission-content {
    display: none;
}

.post-meta {
    vertical-align: middle;
    padding: 4px;
}

.post-img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    background-color: var(--gray-300);
    border: .1px solid var(--primary);
    border-radius: .35rem;
}

/* Voting buttons */
.arrow-up::before {
	cursor: pointer;
	font-size: 1.3rem;
	color: var(--gray-200);
	font-family: "font awesome 5 pro" !important;
	font-weight: 900;
	content: "\f357";
}

.arrow-down::before {
	cursor: pointer;
	font-size: 1.3rem;
	color: var(--gray-200);
	font-family: "font awesome 5 pro" !important;
	font-weight: 900;
	content: "\f354";
}

.voting {
    text-align: center;
    padding: 3px 4px;
    margin-left: 7px;
}

/* Everything below is best applied last */
.hidden {
    display: none !important;
}

/****************************************
 *         Speed Carot Model            *
 *      i.e. inline Emoji picker        *
 ****************************************/
.ghostdiv
{
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    /* Attempt to copy the textarea/input padding */
    padding: 15px;
}

#speed-carot-modal
{
    background-color: var(--gray-700);
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#speed-carot-modal .speed-modal-option
{
    border-bottom: 1px solid #606060;
    padding: 4px;
    cursor: pointer;
}

#speed-carot-modal .speed-modal-option:hover,
#speed-carot-modal .speed-modal-option:focus,
#speed-carot-modal .speed-modal-option.selected
{
    background-color: rgba(255, 255, 255, 0.2);
}


#speed-carot-modal .speed-modal-image
{
    object-fit: contain;
    width: 50px;
    height: 50px;
}

#speed-carot-modal .speed-modal-option span
{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 700;
}

