/* TODO move to html ref for compatibility */
@import url("fontawesome.css");

@charset "UTF-8";
*, *::before, *::after {
	box-sizing: border-box;
}

/* TEMPORARY Remove me */
:root {
	--dark: #505961;
	--secondary: #505961;
	--white: #c9d1d9;
	--black: #c9d1d9;
	--light: #b1bac4;
	--muted: #c9d1d9;
	--gray: #505961;
	--gray-100: #c9d1d9;
	--gray-200: #b1bac4;
	--gray-300: #505961;
	--gray-400: #6e7681;
	--gray-500: #21262d;
	--gray-600: #21262d;
	--gray-700: #21262d;
	--gray-800: #161b22;
	--gray-900: #0d1117;
	--background: #21262d;
}
/* END Temporary */

html, body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
}

/* Hide focus thing */
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

/* Unlinkify "links" */
.srd a {
    text-decoration: none;
    color: #fff;
}

.srd {
    display: block;
    text-align: center;
    background-color: var(--primary);
    padding: 2px;
    color: #fff;
}

#navbar {
    
}

#navbarResponsive {
    display: none;
}
