{%- set search_placeholder = "Search" -%}
{%- if sub -%}
	{%- set search_placeholder = "Search (try '" ~ HOLE_NAME ~ ":" ~ sub.name ~ "')" -%}
{%- endif -%}

<nav>
  {% if g.loggedin_counter and not err and (SITE_NAME in ('PCM','rDrama') or g.loggedin_counter+g.loggedout_counter > 100) %}
     <div class="srd">
		<img src="/e/marseylowpoly.webp" height=18 width=28>

		{% if v and v.admin_level > 1 and (SITE != 'rdrama.net' or v.id == AEVANN_ID) %}
			People here now: <a href="/admin/loggedin">{{g.loggedin_counter}} logged in</a>, <a href="/admin/loggedout">{{g.loggedout_counter}} logged out</a>
		{% else %}
			{% if SITE_NAME == 'rDrama' %}
				{% if range(1,3) | random == 1 %}
					{% include "journoid_banner.html" %}
				{% else %}
					{%-
					set VISITORS_HERE_FLAVOR = [
						' incels currently stalking roasties',
						' gooners currently edging to <img src="/e/marseycumjar3.webp" style="height: 1.5em;">',
						' fanboys currently obsessing over Carp',
						' postmodern obscurantists currently whistling for dogs',
						' NEETs currently LDARmaxxing',
						' valid women currently dilating',
						' stochastic terrorists currently writing manifestos',
						' negholes currently being pozzed',
						' bussies currently on standby',
						' gamers currently harassing women',
						' dramanauts hurtling through Safe Space™',
						' Soros shills currently plotting the mayocide',
						' furries currently yiffing',
						' incels currently harassing women ',
						' chuds currently agendaposting',
						' coomers currently gooning',
						' oopsie woopsie fucko boingos narwhaling bacons',
						' well-behaved rule following goodthinkers',
                        ' throwing shade right now',
                        ' dramanauts effort-posting',
                        ' feds fitting in',
                        ' phoneposters touching grass',
                        ' roids spouting statistics',
                        ' misinformation spreading wrongthinkers',
                        ' Oomfies huggy wugging',
                        ' worsties meanmaxxing',
                        ' hot foids in your area'
					]
					-%}
					{{g.loggedin_counter+g.loggedout_counter}} {{ VISITORS_HERE_FLAVOR|random|safe }} ({{ g.loggedin_counter }} logged in)
				{% endif %}
			{% else %}
				{{g.loggedin_counter+g.loggedout_counter}} people here now ({{g.loggedin_counter}} logged in)
			{% endif %}
		{% endif %}
	 </div>
     {% endif %}

		<div class="navbar" id="navbar">
			<a href="/" class="brand">
				<img alt="header icon" height=33 src="{{asset_siteimg('headericon.webp')}}">
			</a>
			
			{% if sub %}
				<a href="/h/{{sub.name}}" class="sub-name">{% if not HOLE_STYLE_FLAIR %}/h/{% endif %}{{sub.name}}</a>
			{% elif has_logo %}

				<a id="logo" href="/">
					<img alt="logo" src="{{asset_siteimg('logo.webp')}}">
				</a>
			{% endif %}

			    <div class="search">
				  <form action="{% if request.path.startswith('/search') %}{{request.path}}{% else %}/search/posts/{% endif %}" method="get">
				    <input class="search-input" autocomplete="off" type="text" placeholder="{{search_placeholder}}" aria-label="Search" name="q" value="{{request.values.get('q', '')}}">
                    <!-- wtf? -->
				    <span class="input-group-append">
					  <span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
					    <i class="fa fa-search" aria-hidden="true"></i>
					  </span>
				    </span>
				  </form>
			    </div>

			{% if g.webview %}
				<a class="mobile-nav-icon d-md-none" onclick="location.reload()"><i class="fas fa-arrow-rotate-right align-middle text-gray-500 black"></i></a>
			{% endif %}

			{% if v %}
				{% if v.notifications_count %}
					<a class="mobile-nav-icon d-md-none" href="/notifications{% if v.notifications_do %}/{{v.notifications_do}}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"><i class="fas fa-bell align-middle" style="color: {{v.notifications_color}}"></i><span class="notif-count ml-1" style="padding-left: 4.5px;{% if v.notifications_do %}background:{{v.notifications_color}}{% endif %}">{{v.notifications_count}}</span></a>
				{% else %}
					<a class="mobile-nav-icon d-md-none" href="/notifications" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"><i class="fas fa-bell  align-middle text-gray-500 black"></i></a>
				{% endif %}
			{% endif %}
			
		            {% if not err %}
			{% if v and v.admin_level > 1 %}
				<a class="mobile-nav-icon d-md-none" href="/admin"><i class="fas fa-crown align-middle text-gray-500 black"></i></a>
			{% endif %}

			{% if v %}
				<a class="mobile-nav-icon d-md-none" href="{% if sub %}/h/{{sub.name}}{% endif %}/submit"><i class="fas fa-feather-alt align-middle text-gray-500 black"></i></a>
			{% else %}
				<a class="mobile-nav-icon d-md-none" href="/login"><i class="fas fa-feather-alt align-middle text-gray-500 black"></i></a>
			{% endif %}

			<a class="mobile-nav-icon d-md-none" href="/random_user"><i class="fas fa-music align-middle text-gray-500 black"></i></a>

			{% if v and v.can_gamble and LOTTERY_ENABLED %}
			<span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lottershe">
				<a href="/lottery" class="mobile-nav-icon d-md-none">
					<i class="fas fa-ticket align-middle text-gray-500"></i>
				</a>
			</span>
			{% endif %}

			<button class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon {% if v and v.notifications_count %}position-relative{% endif %}"><i class="fal fa-bars text-gray-500 black"></i>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto d-none d-md-flex">

			{% if v %}

				{% if v.notifications_count %}
				<li class="nav-item notifications-nav notifications-active">
					<a class="nav-link position-relative" href="/notifications{% if v.notifications_do %}/{{v.notifications_do}}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"><i class="fas fa-bell" style="color: {{v.notifications_color}}"></i><span class="notif-count ml-1" style="padding-left: 4.5px;{% if v.notifications_do %}background:{{v.notifications_color}}{% endif %}">{{v.notifications_count}}</span></a>
				</li>
				{% else %}
				<li class="nav-item notifications-nav">
					<a class="nav-link" href="/notifications" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"><i class="fas fa-bell"></i></a>
				</li>
				{% endif %}

				{% if v.admin_level > 1 %}
				<li class="nav-item admin-nav">
					<a class="nav-link" href="/admin/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Admin Tools"><i class="fas fa-crown{% if v.has_report_queue %} text-success{% endif %}"></i></a>
				</li>
				{% endif %}

				<li class="nav-item post-nav">
					<a class="nav-link" href="{% if sub %}/h/{{sub.name}}{% endif %}/submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create Post"><i class="fas fa-feather-alt"></i></a>
				</li>

				{% if FEATURES['CHAT'] -%}
				<li class="nav-item chat-nav">
					<a class="nav-link" href="/chat/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat"><i class="fas fa-messages"></i></a>
				</li>
				{%- endif %}

				<li class="nav-item leaderboard-nav">
					<a class="nav-link" href="/leaderboard" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Leaderboard"><i class="fas fa-trophy"></i></a>
				</li>

				<li class="nav-item music-nav">
					<a class="nav-link" href="/random_user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Random User"><i class="fas fa-music"></i></a>
				</li>

				{% if v.can_gamble and LOTTERY_ENABLED %}
					<li class="nav-item lottery-nav">
						<a class="nav-link" href="/lottery" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lottery"><i class="fas fa-ticket"></i></a>
					</li>
				{% endif %}

				<li class="nav-item store-nav">
					<a class="nav-link" href="/shop" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Shop"><i class="fas fa-store"></i></a>
				</li>
			
				<li class="nav-item comments-nav">
					<a class="nav-link" href="/comments" data-bs-toggle="tooltip" data-bs-placement="bottom" title="All Comments"><i class="fas fa-comment-dots"></i></a>
				</li>

            <li class="nav-item">
			  <label for="dropdown-checkbox" class="dropdown-label navbar-profile">
                <div class="dropdown-btn">
				  <div class="profile">
				    <img alt="your profile picture" loading="lazy" src="{{v.profile_url}}" class="profile-pic-navbar">
				    {% if v.is_cakeday %}
				    <img class="party-hat4" src="/assets/images/party-hat.webp" data-bs-toggle="tooltip" data-bs-placement="bottom" title="I’ve spent another year rotting my brain with dramaposting, please ridicule me 🤓">
				    {% endif %}
				  </div>
				  <div class="user-info">
				    <div style="color: #{{v.namecolor}}" class="username {% if v.patron %}patron{% endif %}"><span {% if v.patron %}class="patron" style="background-color:#{{v.namecolor}}"{% endif %}>{{v.username}}</span></div>
				    <div class="header--currency header-coins">
                      <img alt="coins" class="coins-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" height="13" src="/assets/images/{{SITE_NAME}}/coins.webp?v=2" title="coins" aria-label="coins"><span id="user-coins-amount">{{v.coins}}</span>
                    </div>
                      {% if FEATURES['PROCOINS'] %}
				    <div class="header--currency header-marseybux">
                      <img alt="marseybux" class="marseybux-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" height="13" width="30" src="/assets/images/marseybux.webp?v=1008" title="Marseybux" aria-label="Marseybux"><span id="user-bux-amount">{{v.procoins}}</span>
				      {% endif %}
				    </div>
                  </div>
                </div>
                  
                <input type="checkbox" id="dropdown-checkbox" class="checkbox-display hidden">
				<div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-bg"></div>
				  <a class="dropdown-item" href="{{v.url}}"><i class="fas fa-user-circle fa-fw mr-3"></i>My
					  profile</a>
				  <a class="dropdown-item" href="/settings"><i class="fas fa-cog fa-fw mr-3"></i>Settings</a>
				  <span class="dropdown-item copy-link" data-clipboard-text="{{SITE_FULL}}/signup?ref={{v.username}}"><i class="fas fa-user-friends fa-fw mr-3"></i>Invite friends</span>
				  <a class="dropdown-item" href="/assets/app_{{SITE_NAME}}_v2.4.apk"><i class="fab fa-android fa-fw mr-3"></i>Android app</a>
				  <a class="dropdown-item" href="https://rdrama.net/changelog"><i class="fas fa-clipboard fa-fw mr-3"></i>Changelog</a>
				  <a class="dropdown-item" rel="nofollow noopener noreferrer" href="https://github.com/Aevann1/rDrama"><i class="fab fa-github fa-fw mr-3"></i>Source code</a>
				  {% if SITE_NAME in ['rDrama', 'PCM'] %}
				  <a class="dropdown-item" rel="nofollow noopener noreferrer" href="/report_bugs"><i class="fas fa-bug fa-fw mr-3"></i>Bugs/Suggestions</a>
					{% endif %}
				{% if SITE_NAME == 'rDrama' %}
				  <a class="dropdown-item" href="/discord"><i class="fab fa-discord fa-fw mr-3"></i>Discord</a>
				  <a class="dropdown-item" href="/post/75863/"><i class="fas fa-square-share-nodes fa-fw mr-3"></i>Fediverse</a>
					{% endif %}
					{% if SITE_NAME not in ('WPD') %}
				  <a class="dropdown-item" rel="nofollow noopener noreferrer" href="{{GUMROAD_LINK}}"><i class="fas fa-dollar-sign fa-fw mr-3"></i>Donate</a>
					{% endif %}
					{% if SITE_NAME == 'rDrama' %}
				  <a class="dropdown-item" href="/archives"><i class="fas fa-book fa-fw mr-3"></i>Archives</a>
					{% endif %}
				  <a class="dropdown-item" href="/contact"><i class="fas fa-file-signature fa-fw mr-3"></i>Contact us</a>
				  <a class="dropdown-item" role="button", onclick="post_toast(this,'/logout', '1')"><i class="fas fa-sign-out fa-fw mr-3"></i>Log out</a>
				</div>
			  </label>
			</li>
            </ul>
         {% endif %}
	</div>
	{% endif %}
	</div>
	</div>
</nav>

{% if v and not err %}
	<div id="formkey" class="d-none">{{v.formkey}}</div>
{% endif %}

{% if not v %}
	<style>
		.pad {
			padding-bottom: 7.4px;
			padding-top: 7.4px;
		}
	</style>
{% endif %}

{% if v and v.poor -%}
	<style>
		* :not(img[src="/i/hand.webp"] + img):not(img.golden, img[g], img[glow]) {
			animation: unset !important;
		}
	</style>
{%- endif %}


<link rel="preload" as="image" href="/i/l.webp">
